# Copy this file to .env and fill in the values

# SERVER SETTINGS
SERVER_URL=http://localhost
CLIENT_URL=http://localhost:3000
NODE_ENV=local
PORT=3001
ADMIN_NAME=<admin_name>
ADMIN_PASSWORD=<admin_password>

# DATABASE SETTINGS
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/<dbname>

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
